<article class="message is-info">
  <div class="message-header">
    Home
  </div>
  <div class="message-body">
    React step by step tutorial.</br></br>
	Start by clicking <span class="icon is-small"><i class="fa fa-level-up"></i></span>
	 to view some demos of Todo app implemented in different ways.
  </div>
</article>
