<div class="box">
	<div class="tabs is-centered">
	  <ul>
	    <li class="is-active"><a>All</a></li>
	    <li><a>Pending</a></li>
	    <li><a>Done</a></li>
	  </ul>
	</div>

	<div class="content">
		<p class="control">
		  <label class="checkbox">
		    <input type="checkbox" checked>
		    Work it harder.
			<span class="icon is-small">
				<i class="fa fa-times"></i>
			</span>
		  </label>
		</p>

		<p class="control">
		  <label class="checkbox">
		    <input type="checkbox">
		    Make it better.
			<span class="icon is-small">
				<i class="fa fa-times"></i>
			</span>
		  </label>
		</p>

		<p class="control">
		  <label class="checkbox">
		    <input type="checkbox">
		    Do it faster.
			<span class="icon is-small">
				<i class="fa fa-times"></i>
			</span>
		  </label>
		</p>

		<p class="control">
		  <label class="checkbox">
		    <input type="checkbox">
		    Makes us stronger.
			<span class="icon is-small">
				<i class="fa fa-times"></i>
			</span>
		  </label>
		</p>
	</div>

	<form class="control">
	  <input id="input-todo" class="input" type="text" placeholder="Add some todos...">
    </form>
</div>
