@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto', 'Noto Sans TC', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

#app {
	width: 300px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

nav.nav {
	background-color: transparent;
	justify-content: center;
}

#view {
	display: inline-block;
	width: auto;
}
